/* まず、style.cssにこのルールを書き入れてください。 */
.green {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction:column;
    justify-content: space-around;

}

.blue {
    margin: 0 auto;
    width: 300px;
    background-color: blue;
}

input {
    width: 100px;
    margin: 0 auto;
}

button {
    margin: 0 auto;
}